body{background:#4b0082c9;}

#topbar{background:grey;
position: sticky;
top: 0;
border: 5px solid brown;
}
.container{
	width:1140px;padding-right:15px;padding-left:15px;margin:auto;
}

.name{width: 300px;
float: left;
font-size: 39;
font-style: normal;
font-family: arial black;
margin-top: 33px;
line-height: 54px;
margin-bottom: -49px;
margin-left: 20px;
}
.logo {
 width: 30px;
 margin: -8px 897px -61px 39px;
 float: right;
 font-size: 63;
}

.mainmenu{width:990px ;float:left;}
.item{list-style:none;float:right;margin: 5px -159px 14px 0px;
}
.item li {float:left;}
.item li a {
	text-decoration:none;text-transform:uppercase;font-size: 23px;display:block;
	padding:15px;color:black;transition:.5s;
}
.wrapper{overflow:hidden;width:100%;background:}
.item li a:hover{
	color:orange;
	cursor:finger;
	
}
#slider{
	background:linear-gradient(#ff000057,#ffff0047),url(directors/pp.png);
    background-repeat:no-repeat;
	background-size:100%;
	height: 685px ;
}
.content{
	color:white;

	
}
.content h1 {
font-size: 42px;
margin: 0px 0px 0px 321px;
line-height: 75px;
text-transform: uppercase;
padding: 176px 0px 0px 56px;
}
.navig{width:200px;margin:auto;padding: 290px 0px 0px 361px;}
.navig span{width:10px;height:10px;background:transparent;
border:4px solid white;display:block;border-radius:100%;cursor:pointer;float:left;
margin: 5px;
}

.navig span:last-child{
	background:red;
	border-color:red;
}

#foot {
background: #1a1a1a;
padding-top: 200px;
}
#feet {
background: #1a1a1a;
padding-top: 0px;
}

.copyrtcont {
color: #999;
border-top: 1px solid #333;
overflow: hidden;
}
.copyrtcont .container {
overflow: hiddem;
}
.copyrighttext {
width: 454px;
float: left;
padding:28px 0px;
font-size: 24px;
}
.copyrightmenu {
width: 570px;
float: right;
}
.copyrightmenu ul {
list-style: none;
float: right;
overflow: hidden;
}
.copyrightmenu ul li {
float: left;
padding:15px;
}


.copyrightmenu ul li a{
	color:#999;
	display:block;
	text-decoration:none;
	padding:px px;
}

.fboxwrap {
overflow: hidden;
margin-bottom: 60px;
}
.fbox {
overflow: hidden;
float: left;
font-family:arial black;
width: 372px;
margin-right: 12px;
}
.fbox:last-child {
margin-right: 0px;
}
.fbox h3{
	color:white;
	margin-bottom:20px;
	font-size: 24px;
}
.fbox {
color: #999;
}
.fbox p {
line-height: 28px;
font-size: 19px;
margin-bottom: 43px;
}



.fbox span i {
color: #fb5200;

}
.fbox span {
padding: 0px 41px 0px 0px;
line-height: 30px;
font-size: 18px;
margin-bottom: 20px;
}



.fbox:last-child {
margin-right:0px;
}

.fbox ul li a {
color: #999;
text-decoration: none;
display: block;
padding: 9px;
border-bottom: 1px dashed #999;
}
.fbox ul li a:hover{color:orange}

.ficons a {
color: #999;
display: block;
width: 26px;
background: #665;
display: grid;
float: left;
padding: 8px;
margin: 10px 12px;
border-radius: 100%;
text-decoration: none;
color: white;
text-align:center;
}
.fbox ul li:last-child a{
	border-bottom:0px;
}
.fbox ul{
	list-style:none;
	padding:0px 0px 0px 0px;
}

.boxwrap {
overflow: hidden;
background: #ff5200;
border-radius: 3px;
padding-bottom: 20px;
}
.boxsingle {
width: 350px;
float: left;
padding: 15px;
}

.boxsingle:last-child{
	margin-right:0px;
}
.boxsingle h2 {
color: white;
padding-bottom: 15px;
}

.inputbox {

position:relative;
}
.inputbox input:first-child {
width: 80%;
padding: 10px;
border-bottom-left-radius: 50px;
border-top-left-radius: 50px;
font-family: arial inherit;
letter-spacing: 1.2;
word-spacing: 1.5;
}

#subssubmit {
padding: 11px;
background: black;
color: white;
font-weight: 1000;
letter-spacing: 1;
font-size: ;
width: 114px;
border-radius: 50px;
position: absolute;
top: -1px;
right: 15px;
bottom: -1px;
border: black;
}
.boxsingle{
	color:white;
}

#subscribe {
    position: relative;
    margin-bottom: -88px;
}
.boxsingle p {
    font-size: 20px;
}
.boxicons a{
	float:left;
    width:30px;
    height:30px;
    border:2px solid white;
    display:grid;
    place-items:center;
    border-radius:100%;
    margin-right:15px;
    color:white;
    text-decoration:none;
}

.boxicons a:hover{
	background:white;
	color:#333
	
}

.ficons a:hover{
	background:white;
	color:#333;
	
}




.block img {
width: 250px;
height: 250px;
border: 1px solid black;
border-radius: 100%;
}
.block {
width: 280px;
float: left;
padding: 40px;
}
.block1wrapper {
overflow: hidden;
border: 5px solid black;
background-color:#ffff009c;
}

.block h1 {
padding: 62px 16px;
font-size: 31px;
word-spacing: 5px;
letter-spacing: 1.02;
line-height: 1.5;
}


.block ul {
padding: 58px;
font-size: 25px;
line-height: 2;
letter-spacing: 1.5;
}
.block ul li a {
text-decoration: none;
color: black;
}

.block ul li a:hover{
	color:indigo;
}
.block ul{list-style:none}

.block ul li a i {
    font-size: 14px;
    padding: 6px;
}


.aboutwrap{border:5px solid black;
background:#ffff009c;}

.title h1 {
padding: 20px 392px;
font-size: 40px;
word-spacing: 1.5;
color: red;
}

.parag p {
font-size: 30px;
line-height: 2;
letter-spacing: 1;
word-spacing: 1;
text-align: justify;
padding: 23px 100px;
}

.srhome img {
border: 1px solid black;
border-radius:25px;
}
.srhome {
padding: 0px 410px 55px;
}


.makingwrap{border:5px solid black;
background:#ffff009c;
padding-bottom: 70px;}

.feature h1 {
font-size: 45px;
letter-spacing: 1;
word-spacing: 3;
padding: 0px 423px;
color: green;
}
.filmlist ul li h1 {
font-size: 30px;
letter-spacing: 1;
word-spacing: 2;
}
.logosize img {
width: 130px;
height: 130px;
border: 1px solid black;
border-radius: 100%;
padding-right: 0px;
}

.logosize {
padding-left: 0px;
}

.filmlist ul li {
list-style-type: circle;
}

.filmlist{padding-left:200px;
padding-top:20px;
text-align:justify;}

.feature {
    padding-top: 80px;
}

.facelogo {
    width: 85px;
    height: 140px;
    float: left;
    padding: 40px 0px 0px 230px;
    font-size: 144px;
}

.searchbox {
  position: absolute;
background: #2f3640;
height: 30px;
transform: translate(-35%,-35%);
border-radius: 40px;
padding: 0px;
left: 60%;
top: 82%;

}

.searchbtn {
float: right;
color: yellow;
width: 30px;
height: 30px;
border-radius: 50%;
background: #2f3640;
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
}

.searchtext {
width: 0px;
border: none;
background: none;
outline: none;
float: left;
color: yellow;
font-size: 18px;
line-height: 26px;
transition: .4s;


}


 
.searchbox:hover > .searchtext {
width: 160px;
}

.searchbox:hover > .searchbtn {
background:white;
color:black;
}

.lastwish {
    color: #0ee3c5;
}